<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Start Bootstrap Theme</title>

    <!-- jQuery -->
    <script src="{{@BASE}}/theme/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{@BASE}}/theme/js/bootstrap.min.js"></script>

    </body>
    <!-- Bootstrap Core CSS -->
    <link href="{{@BASE}}/theme/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{@BASE}}/theme/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{@BASE}}/theme/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>