<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <h2 class="section-heading">Things I'm interested in and want to get better at</h2>
                <div class="list-group">
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">OOP / Proper Design Patterns</h4>
                        <p class="list-group-item-text">haven't had much of a chance to work with modern concepts and really bring them home</p>
                    </div>
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">Modern Javascript</h4>
                        <p class="list-group-item-text">nodejs, gulp, angular.</p>
                    </div>
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">Deployment / Provisioning Tools</h4>
                        <p class="list-group-item-text">want to get more advanced at ansible and automate more of my deployments and processes. cook up my own vagrant boxes</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
