<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <h2 class="section-heading">Notable Skills & Strengths</h2>
                <div class="clearfix"></div>
                <ul>
                    <li>10 years of experience with providing excellent customer service and technical support across a variety of specialities.</li>
                    <li>Excellent interpersonal, communication and teamwork skills.</li>
                    <li>Extensive experience in IT including but not limited to:</li>
                    <li>Web development (HTML/CSS/LESS/PHP/MySQL/git/js/jQuery/Apache 2/ZF2 etc.)</li>
                    <li>Experience w/ Concrete 5, Wordpress, etc.</li>
                    <li>Windows/OSX/Linux.</li>
                    <li>Troubleshooting and repair, networking, word processing and spreadsheets (MS Office, iWork, etc.).</li>
                    <li>Proficient in adapting to any computer software or operating system swiftly and easily.</li>
                    <li>Keen organisational skills and administrative experience.</li>
                    <li>Competent and decisive under time constraints and high pressure situations.</li>
                    <li>Insatiable passion for technology - curious and intuitive with new technologies.</li>
                </ul>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <h4 class="section-heading">PHP</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span class="sr-only">Confident and Competent</span>
                    </div>
                </div>
                <h4 class="section-heading">Linux Server / bash</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                        <span class="sr-only">20% Complete</span>
                    </div>
                </div>
                <h4 class="section-heading">HTML / CSS (+ Bootstrap & Materialize CSS)</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span class="sr-only">60% Complete (warning)</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">80% Complete (danger)</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->