<!--<a  name="services"></a>-->
<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">About Fred</h2>
                <p class="lead">
                    Fred is a dedicated and hard-working individual, with a solid grounding in programming for web, client/technical support, and a broad background in modern technologies.

                    He uses his quirky personality to his advantage to establish a strong rapport with clients and colleagues alike, and is most comfortable rising to challenges and developing within any organisation where he is given the opportunity to do so.

                    Having acquired a well-rounded skillset as a support analyst in previous roles, and more recently, as a junior web developer, Fred is seeking to expand his professional horizons and find his niche in web development.
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="{{@BASE}}/theme/img/FredSpoonerProfile.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->